  *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus, :active{outline: none;}
  a:focus, a:active{outline: none;}

  nav,footer,header,aside{display: block;}

  html, body{
    height: 100%;
    width: 100%;
    font-style: normal;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  input, button, textarea{font-family: inherit; font-size: inherit;}

  input::-ms-clear{display:none;}
  button{cursor: pointer;}
  button::-moz-focus-inner{padding: 0;border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style-type: none;}
  img{vertical-align: top;}

  h1,h2, h3, h4, h5, h6, p {
    font-size: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  sub, sup {
    font-size: 75%;
}
  
  div {
    display: block;
  }
  
  body {
    font-family: 'HK Nova', sans-serif;
    color: #1e1d1d;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1111111111111112vw;
    line-height: 28px;
    color: #000000;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    overflow: auto;
  }

  .nav_row {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    left: 0;
    top: 0em;
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.4);
    padding: 5px 30px;
    
    
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }

  .navigation_right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    column-gap: 0px;
  }

  .navigation_left ul{
    display: flex;
    column-gap: 5px;
  }

  .nav_row li {
    margin-left: 50px;
    margin-right: 10px;
  }

  .nav_row a:hover {
    color: #43fff9;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }

  input:focus, button:focus {
    outline: none;
  }
  
  button, input[type="submit"] {
    cursor: pointer;
    background: none;
  }

  .button {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 54px;
    background-color: #000;
    padding: 15px 20px;
    text-transform: none;
    letter-spacing: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 24px;
  }

  .button:hover {
    color: #43fff9;
    background-color: #5e6468;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }

  .svg_button {
    margin-left: 13px;
    padding-top: 5px;
  }

  .split {
    height: 100%;
    width: 55%;
    position: absolute;
    z-index: 1;
    /*top: 0;*/
    overflow-x: hidden;
  }

  .left {
    left: 0;
    background-color: white;
  }

  .right {
    right: 0;
    background-color: #ACF8F5;
  }

  .main-upper-text {
    font-weight: 300;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: normal;

    color: #1E1D1D;
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translate(-60%, -50%);
    text-align: left;
  }

  .main-footer-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    padding-top: 5%;
  }

  .button-main {
    margin-top: 10%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 60px;
    background-color: #000;
    padding: 20px 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: white;
    line-height: 24px;
  }

  .button-main:hover {
    background-color: #5e6468;
    color: #43fff9;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }

  .main-small-text {
    color: rgba(30, 29, 29, 0.72);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    font-style: normal;
    position: absolute;
    bottom: 3%;
    left: 7%;
  }

  .featured {
    left: 0;
    top: 100%;
    position: absolute;
    width: 100%;
    height: 230%;
    background-color: #F7F7F7;
  }

  .featured-cards {  
    top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 60px;
  }

  .cards-advantages {
    top: 12%;
    position: absolute;
    width: 100%;
    padding-top: 3%;
  }

  .featured-text-1 {
    margin-top: 96px;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: rgba(30, 29, 29, 0.72);
  }

  .featured-text-2 {
    margin-top: 15px;
    margin-left: 0;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .petal-1 {
    position: absolute;
    width: 40%;
    height: 714px;
    left: 7.5%;
    top: 240 px;
    background: #FFFFFF;
    align-items: center;
  }

  .petal-2 {
    position: absolute;
    width: 40%;
    height: 714px;
    right: 7.5%;
    top: 240 px;
    background: #FFFFFF;
  }

  .first-section {
    height: 25%;
    width: 100%;
    border-bottom: 1px solid rgba(30, 29, 29, 0.12);
  }

  .small-card-photo {
    width: auto;
    height: 140px;
    margin-left: 75%;
    margin-top: 5%;
  }

  .petal-name-text {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 33px;
    line-height: 27px;
    font-weight: 700;
  }

  .petal-name-footer-text {
    position: absolute;
    margin-left: 10%;
    margin-top: 17.5%;
    font-size: 13px;
    line-height: 20px;
    color: rgba(30, 29, 29, 0.72);
  }

  .advantages-list {
    padding: 16px 40px;
    border-bottom: 1px solid rgba(30, 29, 29, 0.12);
  }

  .item-number {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }

  .second-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .left-side-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .green-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 10px auto;
    border-radius: 50%;
    background-color: #6eeb9d;
  }

  .yellow-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: #fff67f;
  }
  .main-card-text {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

  .small-text {
    color: rgba(30, 29, 29, 0.72);
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 400;
  }

  .button-card-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
    margin: 25px 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #1e1d1d;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }

  .button-card-footer:hover {
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    cursor: pointer;
  }
  
  .svg_button_black {
    position: absolute;
    margin-left: 13px;
    padding-top: 8px;
  }

  .svg_button_black2 {
    margin-left: 13px;
    padding-top: 8px;
    opacity:0;
    filter:alpha (opacity=0);
  }
  
  .button-card-footer:hover img.svg_button_black2 { 
    opacity:1;
    filter:alpha (opacity=100);
  }

  .button-card-footer:hover img.svg_button_black, .button-card-footer img.svg_button_black:hover {
    opacity:0;
    filter:alpha (opacity=0);
  }

  .boost-cards-text {
    bottom: 35%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    position: absolute;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .boost-card {
    padding: 10px;
    width: 27%;
    height: 25%;
    left: 7.5%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .boost-card2 {
    padding: 10px;
    width: 27%;
    height: 25%;
    left: 36.5%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .boost-card3 {
    padding: 10px;
    width: 27%;
    height: 25%;
    right: 7.5%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .boost-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .boost-main-text {
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .boost-footer-text {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: rgba(30, 29, 29, 0.78);
    font-size: 1.2vw;
    text-align: center;
  }

  .app-features {
    left: 0;
    top: 330%;
    background-color: #fff;
    width: 100%;
    height: 300%;
    position: absolute;
  }

  .app-features-header-text {
    margin-top: 96px;
    margin-left: 7.5%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: rgba(30, 29, 29, 0.72);
  }

  .app-features-header-big-text {
    margin-top: 15px;
    margin-left: 7.5%;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .big-card-1 {
    width: 85%;
    height: 24%;
    margin: 5% 7.5%;
    background-color: #6eeb9d;
    display: grid;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: start;  
    background-color: #6eeb9d;
    grid-template-rows: auto;
  }

  .left-big-text {
    font-size: 2.0vw;
    position: relative;
    line-height: normal;
    height: 100%;
    width: 40%;
    margin-left: 5%;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 0 48px;
    justify-content: center;
    text-align: left;
  }

  .left-small-text {
    font-size: 1.2vw;
    position: relative;
    width: 40%;
    top: 5%;
    margin-left: 5%;
    font-weight: 400;
    color: #5e6468;
    display: flex;
    padding: 0 48px;  
    align-items: start;
    justify-content: left;
    text-align: left;
  }

  .big-card-photo {
    position: absolute;
    right: 10%;
    display: flex;
    align-items: flex-end;
    padding-top: 1%;
    vertical-align: middle;
  }
