  *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus, :active{outline: none;}
  a:focus, a:active{outline: none;}

  nav,footer,header,aside{display: block;}

  html, body{
    height: 100%;
    width: 100%;
    font-style: normal;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  input, button, textarea{font-family: inherit; font-size: inherit;}

  input::-ms-clear{display:none;}
  button{cursor: pointer;}
  button::-moz-focus-inner{padding: 0;border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style-type: none;}
  img{max-width:100%; vertical-align: top; height:auto}

  h1,h2, h3, h4, h5, h6, p {
    font-size: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  sub, sup {
    font-size: 75%;
}
  
  div {
    display: block;
  }
  
  body {
    font-family: 'HK Nova', sans-serif;
    color: #1e1d1d;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1111111111111112vw;
    line-height: 28px;
    color: #000000;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    overflow: auto;
  }

  .nav_row {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    left: 0;
    top: 0em;
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.4);
    padding: 5px 30px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }

  .navigation_right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    column-gap: 0px;
  }

  .navigation_left ul{
    display: flex;
    column-gap: 5px;
  }

  .nav_row li {
    margin-left: 50px;
    margin-right: 10px;
  }

  .nav_row a:hover {
    color: #43fff9;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }

  input:focus, button:focus {
    outline: none;
  }
  
  button, input[type="submit"] {
    cursor: pointer;
    background: none;
  }

  .button {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 54px;
    background-color: #000;
    padding: 15px 20px;
    text-transform: none;
    letter-spacing: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 24px;
  }

  .button:hover {
    color: #43fff9;
    background-color: #5e6468;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }

  .svg_button {
    margin-left: 13px;
    padding-top: 5px;
  }

  .split {
    height: 100%;
    width: 55%;
    position: absolute;
    z-index: 1;
    overflow-x: hidden;
  }

  .left {
    left: 0;
    background-color: white;
  }

  .right {
    right: 0;
    background-color: #ACF8F5;
  }

  .main-upper-text {
    font-weight: 300;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: normal;
    color: #1E1D1D;
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translate(-60%, -50%);
    text-align: left;
  }

  .main-footer-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    padding-top: 5%;
  }

  .button-main {
    margin-top: 10%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 60px;
    background-color: #000;
    padding: 20px 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: white;
    line-height: 24px;
  }

  .button-main:hover {
    background-color: #5e6468;
    color: #43fff9;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }

  .main-small-text {
    color: rgba(30, 29, 29, 0.72);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    font-style: normal;
    position: absolute;
    bottom: 3%;
    left: 7%;
  }

  .featured {
    left: 0;
    top: 100%;
    position: absolute;
    width: 100%;
    height: 230%;
    background-color: #F7F7F7;
  }

  .featured-cards {  
    top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 60px;
  }

  .cards-advantages {
    top: 12%;
    position: absolute;
    width: 100%;
    padding-top: 3%;
  }

  .featured-text-1 {
    margin-top: 96px;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: rgba(30, 29, 29, 0.72);
  }

  .featured-text-2 {
    margin-top: 15px;
    margin-left: 0;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .petal-1 {
    position: absolute;
    width: 40%;
    height: 714px;
    left: 7.5%;
    top: 240 px;
    background: #FFFFFF;
    align-items: center;
  }

  .petal-2 {
    position: absolute;
    width: 40%;
    height: 714px;
    right: 7.5%;
    top: 240 px;
    background: #FFFFFF;
  }

  .first-section {
    height: 25%;
    width: 100%;
    border-bottom: 1px solid rgba(30, 29, 29, 0.12);
  }

  .small-card-photo {
    width: auto;
    height: 140px;
    margin-left: 75%;
    margin-top: 5%;
  }

  .petal-name-text {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 33px;
    line-height: 27px;
    font-weight: 700;
  }

  .petal-name-footer-text {
    position: absolute;
    margin-left: 10%;
    margin-top: 17.5%;
    font-size: 13px;
    line-height: 20px;
    color: rgba(30, 29, 29, 0.72);
  }

  .advantages-list {
    padding: 16px 40px;
    border-bottom: 1px solid rgba(30, 29, 29, 0.12);
  }

  .item-number {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }

  .second-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .left-side-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .green-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    flex: 0 10px auto;
    border-radius: 50%;
    background-color: #6eeb9d;
  }

  .yellow-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: #fff67f;
  }
  .main-card-text {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

  .small-text {
    color: rgba(30, 29, 29, 0.72);
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 400;
  }

  .button-card-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
    margin: 25px 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #1e1d1d;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }

  .button-card-footer:hover {
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    cursor: pointer;
  }
  
  .svg_button_black {
    position: absolute;
    margin-left: 13px;
    padding-top: 8px;
  }

  .svg_button_black2 {
    margin-left: 13px;
    padding-top: 8px;
    opacity:0;
    filter: alpha (opacity=0);
  }
  
  .button-card-footer:hover img.svg_button_black2 { 
    opacity:1;
    filter: alpha (opacity=100);
  }

  .button-card-footer:hover img.svg_button_black, .button-card-footer img.svg_button_black:hover {
    opacity:0;
    filter: alpha (opacity=0);
  }

  .boost-cards-text {
    bottom: 35%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    position: absolute;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .boost-card {
    padding: 10px;
    width: 27%;
    height: 25%;
    left: 7.5%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .boost-card2 {
    padding: 10px;
    width: 27%;
    height: 25%;
    left: 36.5%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .boost-card3 {
    padding: 10px;
    width: 27%;
    height: 25%;
    right: 7.5%;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .boost-photo {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .boost-main-text {
    margin-top: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }

  .boost-footer-text {
    margin-top: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    color: rgba(30, 29, 29, 0.78);
    font-size: 1.2vw;
    text-align: center;
  }

  .app-features {
    left: 0;
    top: 330%;
    background-color: #fff;
    width: 100%;
    position: absolute;
  }

  .app-features-header-text {
    margin-top: 96px;
    margin-left: 7.5%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: rgba(30, 29, 29, 0.72);
  }

  .app-features-header-big-text {
    margin-top: 15px;
    margin-left: 7.5%;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .big-card-1 {
    width: 85%;
    margin: 5% 7.5% 2.5% 7.5%;
    background-color: #6eeb9d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }

  .left-big-text {
    font-size: 2.2vw;
    position: relative;
    line-height: normal;
    width: 60%;
    margin-left: 2%;
    font-weight: 700;
    align-content: flex-end;
    padding: 0 48px;
    justify-content: center;
    text-align: left;
    float: left;
  }

  .left-small-text {
    font-size: 1.2vw;
    margin-top: 5%;
    width: 65%;
    font-weight: 400;
    color: #5e6468;
    align-items: start;
    justify-content: left;
    text-align: left;
  }

  .big-card-photo {
    margin-top: 3%;
    padding-right: 3%;
  }

  .big-card-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5%;
  }

  .smaller-side-center {
    width: 35%;
    padding: 48px;
    margin-left: 7.5%;
    background-color: #f7f7f7;
    text-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }

  .smaller-left-side-img {
    margin-bottom: 96px;
  }
  
  .features-big-text {
    font-size: 2.2vw;
    position: relative;
    line-height: normal;
    margin-top: 5%;
    font-weight: 700;
    text-align: center;
    
  }

  .features-small-text {
    font-size: 1.2vw;
    margin-top: 5%;
    font-weight: 300;
    color: #5e6468;
    text-align: center;
  }

  .bigger-side-center {
    width: 47.5%;
    margin-left: 2.5%;
    background-color: #f7f7f7;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-image: url("https://assets-global.website-files.com/636a6f81a287f5628189d717/63cecd17cdd402170d25cf74_Group%201069.png");
    background-position: 100% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 48px;
  }
  
  .features-big-text-cashback {
    max-width: 480px;
    font-size: 2.2vw;
    position: relative;
    line-height: normal;
    margin-top: 5%;
    text-align: left;
    font-weight: 700;
  }

  .features-small-text-cashback {
    font-size: 1.2vw;
    margin-top: 5%;
    font-weight: 300;
    color: #5e6468;
    text-align: left;
  }


  .big-card-3 {
    display: flex;
  }
  
  .bigger-side-last {
    width: 47.5%;
    padding: 48px;
    margin-left: 7.5%;
    background-color: #fff67f;
    text-align: left;
    align-items: center;
  }

  .smaller-side-last {
    width: 35%;
    padding: 48px;
    margin-left: 2.5%;
    background-color: #acf8f5;
    text-align: center;
    align-items: center;
  }

  .bigger-left-side-img {
    display: inline-block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
  }

  .img-container {
    display: flex;
    align-items: center;
  }

  .card-features {
    position: absolute;
    top: 615%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #000;
  }

  .card-features-header-text {
    color: hsla(0, 0%, 100%, 0.72);
    margin-top: 96px;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }

  .card-features-header-big-text {
    align-items: center;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #fff;
  }

  .features-cards-text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    position: absolute;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .features-card {
    position: absolute;
    width: 27%;
    left: 7.5%;
    margin-top: 5%;
    padding: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .features-card2 {
    position: absolute;
    width: 27%;
    left: 36.5%;
    margin-top: 5%;
    padding: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    font-weight: 500;
    font-size: 1.5vw;
  }

  .features-card3 { 
    position: absolute;
    width: 27%;
    right: 7.5%;
    margin-top: 5%;
    padding: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    font-weight: 400;
    font-size: 1.5vw;
  }

  .features-photo {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .features-main-text {
    margin-top: 7.5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    
  }

  .features-footer-text {
    margin-top: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    color: rgba(30, 29, 29, 0.78);
    font-size: 1.2vw;
    text-align: left;
  }

  .blue-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: #acf8f5;
  }

  .testimonials-section {
    position: absolute;
    top: 695%;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: #f7f7f7;
  }

  .testimonials-header-big-text {
    margin-top: 96px;
    margin-left: 7.5%;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #1E1D1D;
  }

  .button-testimonials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
    width: 12%;
    margin-top: 2.5%;
    margin-left: 7.5%;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #f7f7f7;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #1e1d1d;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }

  .button-testimonials:hover {
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    cursor: pointer;
  }

  .flap {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 64px;
    height: 64px;
    margin-top: -1px;
    margin-right: -1px;
  }

  .testimonials-cards-section {
    margin-top: 5%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    column-gap: 2.5%;
  }

  .testimonial-card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 48px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #6eeb9d;
    width: 26.5%;
  }

  .testimonial-card.card1 {
    margin-left: 7.5%;
    -webkit-transform: translate(-32px, 30px) rotate(-10deg);
    -ms-transform: translate(-32px, 30px) rotate(-10deg);
    transform: translate(-32px, 30px) rotate(-10deg);
  }

  .testimonial-card.card2 {
    background-color: #acf8f5;
  }

  .testimonial-card.card3 {
    -webkit-transform: translate(32px, 0px) rotate(10deg);
    -ms-transform: translate(32px, 0px) rotate(10deg);
    transform: translate(32px, 0px) rotate(10deg);
    background-color: #fff67f;
  }

  .upper-testimonials-text {
    font-size: 1.1vw;
    line-height: 1.55em;
    font-weight: 300;
    padding-bottom: 15%;
  }

  .div-bottom {
    margin-top: auto;
  }

  .card-offers-section {
    position: absolute;
    top: 815%;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: #ffffff;
  }

  .gray-black-split {
    margin: 5% 7.5%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
  }

  .card-offer-left-side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 48px;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f7f7f7;
  }

  .card-offer-left-upper-text {
    margin-bottom: 24px;
    font-size: 1.8vw;
    line-height: 1.24em;
  }

  .new_h2 {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 2vw;
    line-height: 1.2em;
    font-weight: 700;
  } 

  .card-offer-right-side {   
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 77px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1e1d1d;
    text-align: center;
  }

  .card-offer-footer-text {
    display: flex;
    align-items: flex-start;
    column-gap: 5%;
    margin-left: 7.5%;
  }

  .card-offer-div-footer-text {
    width: 27%;
    color: rgba(30, 29, 29, 0.72);
    font-size: 0.9vw;
    line-height: normal;
  }

  .footer {
    position: absolute;
    top: 960%;
    left: 0 ;
    width: 100%;
    height: 50%;
    background-color: #1e1d1d;
  } 

  .footer-container {
    padding: 7.5% 7.5% 1% 7.5%;
    background-color: #1e1d1d;
    color: #fff;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .footer-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr 6fr;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .footer-column-header {
    margin-bottom: 24px;
    font-size: 1.2vw;
    font-weight: 500;
  } 

  .footer-links {
    display: block;
    margin-bottom: 5%;
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 1.0vw;
    line-height: 24px;
  }

  .footer-right-side-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-get-app {
    max-width: 430px;
  }

  .separator {
    width: 5%;
    height: 5%;
  }

  .links-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  .footer-app-store-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-tiny-text {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 0.8vw;
    line-height: 16px;
  }

  .footer-social-div {
    margin-top: 7.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.12);
  }

  .footer-social-grid {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .social-links-div {
    text-align: right;
  }

  .social-links {
    width: 24px;
    height: 24px;
    margin-right: 7.5%;
  }

  .social-links.last {
    margin-right: 0px;
  } 

  .copy-right-div {
    padding-top: 2%;
  }

  .copy-right-grid {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 0.8vw;
    line-height: 16px;
  }

  .copy-right-links {
    margin-right: 7.5%;
    color: hsla(0, 0%, 100%, 0.8);
  }

  .right-side-copy-right-div {
    text-align: right;
  }

  .copy-right-links.last {
    margin-right: 0px;
 }


  
    
  